:host {
  display: block;
}

textarea {
  display: block;

  min-height: 5em;
	max-height: 50vh;
	width: 90%;

  resize: none;
  font-family: "IBM Plex Mono", "Courier New" monospace;
  font-size: 14px;
  line-height: 20px;
}
